.page-footer{
  padding-top: 0;
  background-color: blue;
}


body {
  display: flex;
  /*max-height: 100vh;*/
  flex-direction: column;
  /*width: 800px;
  margin: auto;*/
    /*background: linear-gradient(#DFF0DA, #DAECF4,#FCF8E5,#F2DEDE);*/
    height: 1440;
    width: 900;
      background-color: #607D8B;
}

html{
  /*background-color: #607D8B;*/

      background: linear-gradient(#DFF0DA, #DAECF4,#FCF8E5,#F2DEDE);
  /*background: linear-gradient(to bottom right, red, yellow);*/
}

main {
  flex: 0 0 auto;
}

#multi{
  margin: auto;
}

.game-card{
  /*width: 50%;*/
  /*height: 50vh;*/
  margin: auto;
  padding: 20px;
  margin-top: 2em;
  /*margin-bottom: 2em;*/
}

header{
  margin-bottom: 2em;
}

#logo-img{
  height: 2em;
  width: 2em;
}

#buttoncontainer{
  justify-content: center;
}

.social{
  margin-top: .75em;
}
